# How do I make my pandas DataFrame smaller and faster?

üêº Tuto on pandas by Data School - Exercice performed by Dorian.H Mekni ü•á | Fri 11 Dec 2020

In [2]:
import pandas as pd

In [3]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa


‚≠êÔ∏è Let's use here a new method not used so far in order to obtain more intel about this dataframe :

In [5]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB


‚òùüèª The last line indicates that this dataframe takes at least 9.2 KB of memory.

‚≠êÔ∏è For a deeper memory scan taking into account what's in the objects columns when proceeding, we can force this action by using the following parameter :

In [6]:
drinks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB


‚úÖ pandas actually looked at the columns and figured out how much space they are taking : 25.8 KB.


‚≠êÔ∏è How much space each column is taking ?

In [9]:
drinks.memory_usage()

Index                            128
country                         1544
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                       1544
dtype: int64


‚úÖ We here obtain the memory usage in bytes per column. However, it does not inspect those object columns by default. Therefore, we will proceed as follows in order to read it in depth :

In [70]:
drinks.memory_usage(deep=True)

Index                             128
country                         18094
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         744
dtype: int64


‚≠êÔ∏è Let's sum the Series of values :

In [71]:
drinks.memory_usage(deep=True).sum()

25142


‚úÖ This is roughly what we read above in our previous scan : 30.5 KB


üßê The point here is that columns can occupy a large amount of space. That might be problematic if we deal with huge dataset.

Integers are indeed more space efficient strings. 

What if we were able to store our strings as integers to save space ‚ùì

In [72]:
sorted(drinks.continent.unique())

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']


‚òùüèªHere we have five unique strings within our continent columns. We could perfectly reference each of these values into a numeric order ranging from 0 to 4. 

We will therefore store an integer rather than a string object.

In [13]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object


üßê To invent this system, we will still have to store a lookup table that says when I store zero, I mean Africa,    and so on. In that way, we will still have to store the strings but such operation will take place only once. 

üòÑ Thanksfully, pandas has created this system for its users. There is category data type that has been introduced in pandas 0.15.

‚≠êÔ∏è Let's proceed into converitng an object column into a category type :

In [14]:
drinks['continent'] = drinks.continent.astype('category')


‚òùüèª Let's check if it worked :

In [15]:
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object


‚úÖ The datatype of continent has been effectively converted.

‚ûï It's still reads the same :

In [17]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): [Africa, Asia, Europe, North America, Oceania, South America]


‚òùüèªThe final line enumerates the listing of our 6 objects. It basically says that under the hood, string objects have been converted into integers. 

‚≠êÔ∏è Let's prove that :

In [18]:
drinks.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8


‚úÖ pandas is now representing the continent Series into integers.


‚≠êÔ∏è let's now see if our memory usage has been reduced :

In [19]:
drinks.memory_usage(deep=True)

Index                             128
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         744
dtype: int64


‚úÖ Continent was previosuly 12332 bytes and has been effectively reduced to 744 bytes.


‚≠êÔ∏è Let's repeat the same set of operations but this time for the column country.

In [20]:
drinks['country'] = drinks.country.astype('category')

In [21]:
drinks.memory_usage(deep=True)

Index                             128
country                         18094
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         744
dtype: int64


‚ùóÔ∏èThe memory usage has increased dramatically, why that ? 

The country column had 193 different and for each a different string. Thus, we created 193 categories :

In [47]:
drinks.country.cat.categories

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=193)


üßê By doing so, we are storing 193 integers, which is considerably small, but that points to a lookup table of 193 strings ! We are therefore spending more memory than before to store the same thing.


‚ö†Ô∏è Bottom line is : Only use the category datatype when you have an object column of strings that only have a few different values.


üßê Remember : 

 --> Reducing memory usage will :
        
        1Ô∏è‚É£ save memory space (As long as they're aren't too many unique values). 
        
        2Ô∏è‚É£ speeds up your computational operations. 

That way, your dataframe become smaller and faster to deal with.


üôèüèª Thank you !

üëãüèª See you in the next one !