# How do I create a pandas DataFrame from another object?

üêº Tuto on pandas by Data School - Exercice performed by Dorian.H Mekni ü•á | Wed 06 Jan 2021

In [1]:
import pandas as pd

‚≠êÔ∏è Let's create a dataframe from a dictionnary

In [4]:
#.DataFrame is known as the dataframe constructor : 
pd.DataFrame({'id':[100,101,102], 'color':['red', 'blue', 'red']})

    id color
0  100   red
1  101  blue
2  102   red


‚òùüèª The keys ID are now identified as column names under the form of strings representing color names and each value is classified in order per id.


üßê The dictionnary is an unordered data structure. You can however get it in order you wish by adding the columns argument with writting down the names in order you want them to be.

In [5]:
pd.DataFrame({'id':[100,101,102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red


‚úÖ Now in order as per our typing request.

In [7]:
# Designing your own index : 
df = pd.DataFrame({'id':[100,101,102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [8]:
# In a different shape (by passing a list of lists) : 
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']])

     0     1
0  100   red
1  101  blue
2  102   red


‚òùüèªEach of the inner lists gets treated as a row and the rows get stacked on top of one another.

üßê To get the same results as we obtained in the dictionnary set of our first dataframe, we would have to fill in each row so that it gets stacked on top of one another.

In [38]:
# Also, Specifying the columns by labelling it : 
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns= ['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red


‚≠êÔ∏è Let's now convert a numpy array into a dataframe see how we would proceed :

In [10]:
import numpy as np

In [13]:
# Creating a 4 (rows) x 2 (cols) numpy array : 
arr = np.random.rand(4, 2)
arr

array([[0.28411656, 0.16525158],
       [0.54334049, 0.19751178],
       [0.93199659, 0.49896878],
       [0.17971684, 0.94895079]])

In [14]:
# Converting it to a dataframe : 
pd.DataFrame(arr)

          0         1
0  0.284117  0.165252
1  0.543340  0.197512
2  0.931997  0.498969
3  0.179717  0.948951


‚òùüèªIt does not contain any column names by default.

In [16]:
# Let's add col names : 
pd.DataFrame(arr, columns=['Margin 1', 'Margin 2'])

   Margin 1  Margin 2
0  0.284117  0.165252
1  0.543340  0.197512
2  0.931997  0.498969
3  0.179717  0.948951


‚≠êÔ∏è Let's now create a dataframe of ten rows(exams results) and two columns (Studend ID).

In [39]:
# Like any range, it is inclusive of the first and exclusive of the second, and the 3rd arg is the step : 
pd.DataFrame({'student':np.arange(100,110,1), 'Exam':np.random.randint(60,101,10)})

   student  Exam
0      100    69
1      101    76
2      102    69
3      103    70
4      104    66
5      105    87
6      106    80
7      107    61
8      108    74
9      109    90

In [40]:
# Chain it with .index if you want to set of the column as the index : 
pd.DataFrame({'student':np.arange(100,110,1), 'Exam':np.random.randint(60,101,10)}).set_index('student')

         Exam
student
100        71
101        85
102        95
103        63
104        68
105        73
106       100
107        95
108        86
109        72

# üé© Bonus tips : iPython | Jupyter Notebook ONLY


ü§† How do I create a new series and attach it to an existing dataframe ‚ùì

In [34]:
# Create a new Series : 
a = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
a

c     round
b    square
Name: shape, dtype: object


‚òùüèª'shape' being the identifier of the Series.

In [35]:
# Let's review the previous dataframe created : 
df

    id color
a  100   red
b  101  blue
c  102   red

In [37]:
# Combining the dataframe and the new Series : 
pd.concat([df, a], axis=1, sort=True)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round


üôèüèª Thank you !

üëãüèª See you in the next one !