# How do I merge DataFrames in pandas?

üêº Tuto on pandas by Data School - Exercice performed by Dorian.H Mekni ü•á | Wed 13 Jan 2021

‚≠êÔ∏è A quick revision through simplistic examples on the 4 basic types of merging operations available in pandas:

In [1]:
import pandas as pd

In [3]:
# Creating dataframe x 
x = pd.DataFrame({'color' : ['green', 'yellow', 'red'], 'num':[1,2,3]})
x

    color  num
0   green    1
1  yellow    2
2     red    3

In [4]:
# Creating dataframe y
y = pd.DataFrame({'color' : ['green', 'yellow', 'pink'], 'size':['S', 'M', 'L']})
y

    color size
0   green    S
1  yellow    M
2    pink    L

# Inner Join


‚òùüèª An inner join merges two dataframe as long as the same data is found in both dataframes.

In [7]:
inner_join = pd.merge(x,y, how='inner')
inner_join

    color  num size
0   green    1    S
1  yellow    2    M


‚úÖ The two colors both included in dataframe x and y make the inner join possible and are therefore included into the merged result.

In [11]:
# how='inner' is included by default so we can ommit it if we want : 
inner_join = pd.merge(x,y)
inner_join

    color  num size
0   green    1    S
1  yellow    2    M

# Outer join


‚òùüèª The outer join merge two dataframes regarless of data matching between the two merging actors.

In [8]:
outer_join = pd.merge(x,y,how='outer')
outer_join

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2     red  3.0  NaN
3    pink  NaN    L


‚úÖ All values of both dataframes are compiled into 1 dataframe through the outer join.

# Left Join


‚òùüèªA left join guarantees that the merge between two dataframes will securely shows all the keys from the left dataframe even if they don't match.

In [9]:
left_join = pd.merge(x,y,how='left')
left_join

    color  num size
0   green    1    S
1  yellow    2    M
2     red    3  NaN


‚úÖ All values from the left dataframe get included into the merge.

# Right Join


‚òùüèª A right join guarantees that the merge between two dataframes will securely shows all the keys from the right dataframe even if they don't match.

In [10]:
right_join = pd.merge(x,y,how='right')
right_join

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2    pink  NaN    L


‚úÖ All values from the right dataframe get included into the merge.


üôèüèª Thank you !

üëãüèª See you in the next one !