# Why do some pandas commands end with parentheses, and other commands don't ? 

Tuto on pandas by Data School - Exercice performed by Dorian.H Mekni | Thu 13 Feb 2020

In [1]:
import pandas as pd

In [4]:
df_movies = pd.read_csv('http://bit.ly/imdbratings')

In [6]:
df_movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [8]:
df_movies.describe()
# This is another command like .head() that ends with parentheses.

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

As long as there is at least one numeric column, it will show you descriptive statistics of all numeric columns, which are in this case star rating and duration.

We call it descriptive statistics.

Now let's have a look another command that does not take parentheses.

In [9]:
df_movies.shape

(979, 6)

That's a tupple indicating that the dataframe is made of 979 rows and 6 columns.

We can also look at another command translating more informative data on our dataframe elements.

In [10]:
df_movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

It tells the data types of each of the six columns. 
Object meaning strings.

The difference between command with parentheses and without it is that for instance type(movies) is a dataframe. That is its object. 
As a dataframe it has certian methods and atributes. 
The methods are like head() and describe() [those with parentheses], and the attributes
are the one without parentheses like .shape and .dtype.

When thinking about methods, it is interesing to compare it with actions oriented.

The attributes however, were more to be perceived as descriptions about who you are such as features for instance.

For instance, if I, Dorian, am a Python object, some methods being actions could be Dorian.smile().

In [ ]:
Some attributes would be Dorian.age, Dorian.weight, Dorian.height, etc.

In Pandas, mos of the elements we manipulate and work with are with data frame methods or attributes, or a series method or attribute.

A good way to find out all the methods and attributes is to hit a period + tab and scroll down to see it all.

However, there is no way to know which one is method or attribute. We'll have to either memorize or try it out.

What stats with pd. is a function, such as as pd.read_csv() or pd.read_table().

It is important to note that a data frame method will potentially require a parameter.

In [11]:
df_movies.describe()
# it doesn't have any required argument but can have an optional one.

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [13]:
df_movies.describe(include=['object'])
# Object is an optional argument.

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,The Girl with the Dragon Tattoo,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

Now it only describe the columns with the type object.
For those fow columns it tell us a count of nominal values and how many of those values are unique. 
We notice for instance that there is 12 different content ratings, amongst them the content rating (R), the most 
common title is 'The Girl with the Dragon Tattoo' and finally the frequency of that top value.

We deduce from the 976 movies with non null values, 460 have an R rating.

The point here was to demonstrate that the .describe() method as pandas functions, have required and optional arguments.

# Bonus tips: for iPython/jupyterNotebook only !

Everytime you have a method and you want to rember what the arguments are you just click anywhere inside:
shift + tab (1 time hit)  = brief signature and dock string
shift + tab (2 times hit) = The window gets bigger. 
shift + tab (3 times hit) = The window stays there for longer. 
shift + tab (4 times hit) = The window takes a whole half of your screen.

That comes handy especially if you are trying to use a fucntion and need to reference it. 
It becomes a split screen and we can even change the size of it.
To get rid of it just hit the X.

This is the 1st chunk of text I get once I apply the above instructions os that you can understand what is mentioned:

Signature: df_movies.describe(percentiles=None, include=None, exclude=None)
Docstring:
Generate descriptive statistics that summarize the central tendency,
dispersion and shape of a dataset's distribution, excluding
``NaN`` values.

Analyzes both numeric and object series, as well
as ``DataFrame`` column sets of mixed data types. The output
will vary depending on what is provided. Refer to the notes
below for more detail.